<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.net>
    <connectionManagement>
      <add
        address="*"
        maxconnection="1" />
    </connectionManagement>
  </system.net>

  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost/ConnectionService/"
        binding="wsHttpBinding"
        contract="MaxConnections.Shared.IConnectionService" />
    </client>

    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>